* {
    box-sizing: border-box; /* Fundamental: hace que los bordes no aumenten el tamaño de las cajas */
    margin: 0;
    padding: 0;
}
body {
    background: #ffee93;
    margin: 0;
}

#Barra_Lateral {
    text-align: center;
    border-top: black solid;
    border-right: black solid;
    width: 200px; /* Mejor usar px o % que vh para anchos */
    height: 95vh;
}

#Ficha{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    cursor: pointer;
    border-radius: 10px;
    margin: 5%;
    padding: 5px;
    transform: 1.05;
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
    margin: 5%;
    padding: 5px;
    transform: scale(1.05);
}

/* REGLAS SOLO PARA MÓVIL */
@media (max-width: 600px) {
    /* Ajustamos la barra lateral para que no ocupe tanto o se ponga arriba */
    #Barra_Lateral {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: black solid;
    }
}