body {
    background: #ffee93;
    margin: 0;
}

#Barra_Lateral {
    text-align: center;
    background: #abc4ff;
    border-top: black solid;
    border-right: black solid;
    width: 200px; /* Mejor usar px o % que vh para anchos */
    height: 95vh;
}

#Ficha {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
}

button {
    cursor: pointer;
    border-radius: 10px;
    margin: 5%;
    font-style: italic;
    font-weight: bold;
}

table {
    display: flex; /* Corregido: flexbox no existe */
    /* EN ORDENADOR: */
    margin-left: 45%;
}

/* REGLAS SOLO PARA MÓVIL */
@media (max-width: 600px) {
    /* Ajustamos la barra lateral para que no ocupe tanto o se ponga arriba */
    #Barra_Lateral {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: black solid;
    }
}